/* BASIC STYLING */
.html, .body, #root, .App {
  height: 100%;
  box-sizing: border-box;
}

.App {
  display: flex;
}

@media (min-width: 775px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #16697a;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4f3961;
  }
}

svg {
  display: block;
  margin: auto;
}

/*===== FORM SECTION STYLING =====*/

.App > section:nth-child(1) {
  width: 30%;
  padding: 1rem 2%;
  background: #194350;
  height: 100%;
}

@media (max-width: 900px) {
  .App > section:nth-child(1) {
    width: 100%;
    padding: 1.5rem 4%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
  }

  #showSidebar {
    display: block;
    z-index: 10;
  }
}

/*===== FORM STYLING =====*/

.alert {
  display: flex;
  align-items: center;
  padding: 0 11px;
  height: 38px;
  background-color: #F8D7DA;
  color: #975057;
}

.alert p {
  margin: 0 .5rem;
}

.form-container {
  margin-top: 1rem;
}

form {
  width: 100%;
  height: 100%;
}

.input-wrap {
  width: 100%;
  margin: 1.5rem 0 1.5rem;
}

.input-wrap.double {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-wrap.double p {
  width: 100%;
}

.input-wrap.double input {
  width: 49%;
}

.input-wrap p {
  margin: 0rem 0 0.4rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

input,
select {
  width: 100%;
  padding: 0 11px;
  border: none;
  background-color: #faf1e8;
  height: 3rem;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
}

input::placeholder {
  color: #333;
}

form button {
  width: 100%;
  height: 3rem;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
  background: #db6400;
}

form button {
  outline: none;
}

/*===== DRAWING BOARD STYLING =====*/

.App > section:nth-child(2) {
  width: 70%;
  padding: 1rem 2%;
  min-height: calc(var(--vh, 1vh) * 100);
  border: 10px solid #194350;
  overflow-y: auto;
  height: calc(var(--vh, 1vh) * 100);
}

@media (max-width: 900px) {
  .App > section:nth-child(2) {
    width: 100%;
  }
}

.App > section:nth-child(2) .button-container {
  display: none;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

@media (max-width: 900px) {
  .App > section:nth-child(2) .button-container {
    display: block;
  }
}

.App > section:nth-child(2) .button-container button {
  background-color: #194350;
  color: #fff;
  font-weight: bold;
  border: none;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  outline: none;
}

.App > section:nth-child(2) .button-container button span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App > section:nth-child(2) .wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-title h1 {
  color: #fff;
  font-size: 1.7rem;
  font-weight: bold;
  color: #fde4cf;
  margin: 0;
  margin-top: 1.5rem;
}

.app-title button {
  all: unset;
  cursor: pointer;
  color: #fff;
}

@media (min-width: 900px) {
  .app-title button {
    display: none;
  }
}

.shapes-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.shapes-container div {
  padding: 1rem;
  display: flex;
  vertical-align: center;
  justify-content: center;
  align-items: center;
}

/*===== ANT DESIGN STYLING =====*/

.ant-select {
  width: 100% !important;
}

.ant-select-selector {
  height: 3rem !important;
  display: flex;
  align-items: center;
  border-radius: 4px !important;
  border: none !important;
  background-color: #faf1e8 !important;
}

.ant-select-item-option-selected {
  background-color: #faf1e8 !important;
}

.circle-picker  {
  width: 100% !important;
  margin-top: 1rem;
}